html, body {
    margin: 0;
    padding: 0;
    }

p,li,h1,h3,h2,h4 {
 color: black(255, 0, 0);
 width: 500 px;
}

html {
 font-size: 10 px;
 font-family: 'Open Sans', sans-serif;
 background-color: #98b5bd;
 text-align: center;
 }

h1 {
 font-size: 60px;
 text-align: center;
 color: rgb(42, 42, 85);
 font-size: 15 px;
 }
  
p,li {
 font-size: 16px;
 line-height: 2;
 letter-spacing: 1px;
 }

ul {
text-align: center;
 }

.disco {
list-style-type: none;
}

.menu {
list-style-type: none;
}
  
.MentionsLegales {
 list-style-type: none;
}

.infoéditeur {
list-style-type: none;
}

.coordonnées {
list-style-type: none;
}

.Réseauxsociaux {
list-style-type: none;
}

.zoom img {
    width:300px;
    height:367px;
    }
    .zoom img:hover {
    width:300px;
    height:400px;
}

a:link {
    color: rgb(61, 54, 54);
    text-decoration: underline;
    }
   a:visited {
    color: rgb(61, 54, 54);
    }
   a:hover {
    color: rgb(20, 91, 158);
    text-decoration: none;
   }
   a:active, a:focus {
    color: rgb(20, 91, 158);
   }